 html body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container {
  background-image: url("Icons_and_Images/smiling_woman.png");
  width: 100%;
  height: 600px;
 background-size: cover;
 

}
.navbar-brand{
    float: left;
    padding: 15px 30px;
    color:black;
    font-size: 20px;
    text-decoration: none;
    
}
.navbar{
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li{
    display: inline-block;
   
}

.navbar li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}
.right_side{
    float: right;
    margin-right:200px;
    padding: 15px 20px;
}
.right_side .nav_btn{
background:none;
color:orangered;
padding: 10px;
font-size: 20px;
border:none;


}
.right_side .nav_btn_two{
    background:orangered;
    color:white;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    border:none;
   
    
    }
.medical{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   float: left;
   margin-top: 200px;
   margin-right: 300px;
}
.medical h3{
color: orangered;
}
.medical h1{
    font-size: 40px;
}
.medical p{
    font-size: 25px;
}
.medical button{
    padding: 10px;
    border-radius: 4px;
    background: orangered;
    color:white;
    width: 90px;
    border: 1px solid orangered;
}
.section_two{
    background:white;
    width: 100%;
    height: 600px;
  

    
}
.section_two h3{
    color:orangered;
    margin-top:100px;
    margin-left:130px;
}
.section_two h1{
    margin-left:130px;  
}
.section_two p{
    margin-left:130px; 
}
.box-size{
    display: flex;
    margin:100px;
    flex-direction: row;
    justify-content: space-around;
}
.box{
 
    width: 25%;
    height: 250px;
    box-shadow: 5px 5px 5px 5px rgba(226, 224, 224, 0.89); 
}
.box h1{
    margin-left:20px;
    font-size: 20px;
  
}
.box p{
    margin-left:20px;
}
.line-doctors {
    height: 2px;
    width: 70px;
    background-color: #e74040;
  }
 
.icon{
    border-radius: 50%;
    background: lightblue;
    width: 70px;
    height: 70px;
    margin-left:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}


.meet-experts {
    height: 1000px;
    margin: 0px 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main-meet-experts {
    display: flex;
    width: 1030px;
    justify-content: space-between;
    height: 515px;
    gap: 100px;
  }
  .images-side-meet {
    width: 510px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .hr-image-meet {
    display: flex;
    gap: 10px;
  }
  .two-nurse {
    width: 434px;
    border-radius: 14px;
    height: 253px;
  }
  .title-page-doctors span{
      color:orangered;
  margin-bottom: 30px;
  }
  .title-page-doctors{
      display: flex;
      flex-direction: column;
  }
     
  
  .doctor-imge-suger {
    width: 180px;
    height: 252px;
    border-radius: 14px;
  }
  .rectangle-img {
    width: 243px;
    height: 251px;
  }
  .right-meet-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 520px;
  }
  .meet-card-trusted-fileds {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 418px;
    height: 111px;
  }
  .number-trusted-fileds span {
    color: #e74040;
    padding: 15px;
    margin-top:400px;
    border-radius: 50%;
    background-color: #ececec;
  }
  .right-meet-main p {
    color: #737373;
    
  }
  .right-meet-main h6 {
    font-size: 16px;
    
  }
  .medicine{
      height: 600px;
      width: 100%;
  }
  .Impressions{
      float: left;
      margin-left:130px;
      display: flex;
      justify-content: space-between;
     flex-direction: column;
     margin-top:200px;
  }
  .Impressions a{
      color:orangered;
  }
  .Impressions span{
    color: #fc724d;
    font-weight: 700;

  }
  .line{
    background: #e74040;
    height: 5px;
    width: 80px;
 
  }
  .impression_img{
       margin-left:300px;
       margin-top: -200px;
       position: relative;
       width: 300px;
       height: 300px;
       border-radius: 26px;
    z-index: 1;
  }
  .impression_img img{
      position: absolute;
      border-radius: 26px;
     left:250px;
  }
  .practice_advice h3{
    color:orangered;
}
.practice_advice{
    display: flex;
    justify-content:center;
    flex-direction: column;
   margin-left:130px;
   float: left;
   margin-top:200px;

  
}

 .impression_image{
  width: 90%;
display: flex;
 height: 650px;
justify-content: space-around;
  margin-left:100px;

} 
.impression_content{
    background-size:cover;
    background:url("Icons_and_Images/product-cover-125 sec-.png");
  height:280px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width:30%;
  margin-top:100px;
  background-repeat: no-repeat;
  background-position: center;

}

 
.impression_content .sale{
     background: red;
     margin-top:20px;
     color: white;
     width:40px;
     font-weight: 700;
     border-radius: 4px;
     padding: 5px;
     align-self: start;
     margin-left:30px;
   
}
.img_am img{
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
   margin-top:180px;
  
       
   
}
.text_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
    margin-top:-240px;
    height: 400px;
}

.content-imperssions2{
flex-direction: column;
display: flex;
}
 .content-imperssions2 p{
      color:lightgrey;
    
     
  }
  .content-imperssions2 .sales{
    color:black;
    padding-bottom: 20px;
}
 .rating span{
color:orangered;
 }
  .stars{
      margin-top:-30px;
      margin-left:200px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5px;
    background-color: #26335d;
  }
 
  .stars p{
      color:white;
  }
  .discount .pricing{
             color:lightgray;
  }
  .discount .decrease{
    color:blue;
}
.content-imperssions2 button{
background: white;
    padding: 10px;
    width: 130px;
    border-radius: 40px;
    margin-top:10px;
    border:2px solid orangered;
color: orangered;
}  

.pricing_sec{
    background:darkslateblue;
    height: 1400px; 
   
}

.pricing_title{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left:100px;
    
}

.pricing_title span{
    color: orangered;
    margin-top:180px;
    padding: 10px;
}
.pricing_title strong{
    color:white;
    padding: 10px;
    font-size: 30px;
}
.pricing_title p{
    color:white;
    padding: 5px;
}
  .pricing_box{
      display: flex;
      gap:30px;
      margin-left:100px;
      margin-top:100px;
  }
  .pricing_content{
      display: flex;
      flex-direction: column;
      align-items: start;
      background-color: white;
      height: 800px;
      width: 260px;
      padding: 50px 30px 50px 30px;
    
  }
  .icon_heart{
    font-size: 30px;
    padding: 20px;
    color: white;
    border-radius: 50%;
    background-color: #fc724d;
 }
.price-per-month{
    margin-top:80px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.price-per-month .price-dolor{
    color:orangered;
    font-size: 30px;
    padding: 10px;
}
.price-per-month .per-week{
    color:blue;
    padding: 10px;
}
.pricing_content p{
    padding: 10px;
    
}
.pricing_content button{
    color:white;
    background: orangered;
    padding: 15px;
    width: 200px;
    border:none;
    border-radius: 5px;
}
.pricing_content ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left:-40px;
}
.pricing_content ul li {
    display: flex;
    gap: 10px;
    align-items: center;
  }
.pricing_content ul li i{
    padding: 10px;
  color: white;
  background-color: #421010;
  border-radius: 50%;
}
.pricing_content .unorderd_list i{
    background-color: #2dc071;
}
 
.client{
    background: white;
    height: 700px;
}
.title-page-doctors{
    display: flex;
    margin-top:150px;
    flex-direction: column;
    margin-left:130px;
}
.title-page-doctors span{
    color:orangered;
}
.cards-list{
    display: flex;
    height: 317px;
    gap: 30px;
    margin-left:130px;
    margin-top:100px;
}
.advice-card{
    padding: 25px;
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.advice-card p {
    font-size: 14px;
    color: #737373;
  }
  .advice-card img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
  .card -icon i{
    color: orangered;
  }
  .team_computer{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
    display: flex;
    gap: 10px;
  }

  .fullname-contact{
    display: flex;
    flex-direction: column;
  }
  .fullname-contact .name-contact{
      color:orangered;
  }
.Join_Us{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.Join_Us span{
    color:orangered;
}
.Join_Us h1{
    font-size:30px;
}
.Subscribe{ 
display: flex;
justify-content:center;
flex-direction: row;

}
.Subscribe input{
    padding: 12px;
    width: 500px;
    margin-top:40px;
    border:none;
    background: #f7f1f1;
    border-radius: 5px
}
.Subscribe button{
    padding: 12px; 
    margin-top:40px;
    border-radius: 0px 5px 5px 0px;
    color:white;
    border:none;
    background: orangered;
}
.footer{
    margin-top:200px;
    display: flex;
    margin-left:20px;
    justify-content: space-around;
  
}
.Info{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
Info h1{
font-size: 20px;
text-align: center;

}
.Info ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}
.Info ul li{
    display: flex;
    gap: 5px;
   
}
.Info i{
    color:orangered;
}
.end_footer{
    display: flex;
    background:#f7f1f1;
    gap:20px;
    justify-content: space-between;
    align-items: center;
}
.end_footer h3{
    margin-left:80px;
}
.social_media{
    display: flex;
    margin-right:100px;
    gap:10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}